![GitHub Release](https://img.shields.io/github/v/release/Duncan1106/HA-Config)
[![License](https://img.shields.io/badge/License-MIT-blue)](#license)
[![stars - HA-Config](https://img.shields.io/github/stars/Duncan1106/HA-Config?style=social)](https://github.com/Duncan1106/HA-Config)
[![forks - HA-Config](https://img.shields.io/github/forks/Duncan1106/HA-Config?style=social)](https://github.com/Duncan1106/HA-Config)![CodeRabbit Pull Request Reviews](https://img.shields.io/coderabbit/prs/github/Duncan1106/HA-Config)![GitHub commits since latest release](https://img.shields.io/github/commits-since/Duncan1106/HA-Config/latest) ![CodeFactor Grade](https://img.shields.io/codefactor/grade/github/Duncan1106/HA-Config) ![GitHub language count](https://img.shields.io/github/languages/count/Duncan1106/HA-Config)

# Welcome !

This is my Home Assistant installation.

## Some statistics about my installation:

Description | value
-- | --
Number of entities | {{states | count}}
Number of sensors | {{states.sensor | count}}

Automations: 

Active | Inactive
-- | --
{{ states.automation | selectattr('state', 'eq', 'on') | list | count }} | {{ states.automation | selectattr('state', 'eq', 'off') | list | count }}

Database:
Name | value
-- | --
Size | {{ ((states('sensor.maria_db_size') | float(0)) * 1000000) | filesizeformat() }}
Rows | {{ ((states('sensor.maria_db_rows') | int(0))/ 1000000)|round(1)|string + ' Mio Rows' }}


## My installed extensions:
<details>
<summary>Custom integrations</summary>

<ul>
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
  <li><a href="{{ component.documentation }}">{{ component.name }}</a></li>
{%- endfor %}
</ul>

</details>

<details>
<summary>Lovelace plugins</summary>

<ul>
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
  <li><a href="{{ component.documentation }}">{{ component.name }}</a></li>
{%- endfor %}
</ul>

</details>

<details>
<summary>Addons</summary>

{% set repo_urls = {
  'a0d7b954_ssh': 'https://github.com/hassio-addons/addon-ssh',
  'cff83567_ankerctl': 'https://github.com/sondregronas/ankermgmt-hassio-addons',
  '180b202a_anylist': 'https://github.com/kevdliu/hassio-addon-anylist',
  '6a9d607a_hassio_beszel_agent': 'https://github.com/Obamium69/hassio-beszel_agent',
  'a0d7b954_bookstack': 'https://github.com/hassio-addons/addon-bookstack',
  'a0d7b954_chrony': 'https://github.com/hassio-addons/addon-chrony',
  '8bce8ef4_dbstats': 'https://github.com/jehy/hass-addons/blob/master/dbstats/README.MD',
  'b3f9bc48_earnapp': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'b3f9bc48_earnfm': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'a0d7b954_emqx': 'https://github.com/hassio-addons/addon-emqx',
  '5c53de3b_esphome': 'https://github.com/esphome/home-assistant-addon',
  '234db91b_everything-presence-zone-configurator': 'https://github.com/EverythingSmartHome/everything-presence-addons',
  'core_configurator': 'https://github.com/home-assistant/addons/tree/master/configurator',
  'ccab4aaf_frigate-fa': 'https://github.com/blakeblackshear/frigate',
  '68413af6_git-exporter': 'https://github.com/Poeschl-HomeAssistant-Addons/git-exporter',
  'cebe7a76_hassio_google_drive_backup': 'https://github.com/sabeechen/hassio-google-drive-backup',
  'b3f9bc48_honeygain': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'db21ed7f_jellyfin': 'https://github.com/alexbelgium/hassio-addons',
  'core_mariadb': 'https://github.com/home-assistant/addons/tree/master/mariadb',
  '77c0fc0d_mqtt-explorer': 'https://github.com/GollumDom/addon-repository',
  'a0d7b954_nut': 'https://github.com/hassio-addons/addon-nut',
  'de91e161_hassio_onedrive_backup': 'https://github.com/lavinir/hassio-onedrive-backup',
  'b3f9bc48_packetstream': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'b3f9bc48_pawns': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'b3f9bc48_repocket': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'bf995ce7_saic_python_mqtt_gateway': 'https://github.com/SAIC-iSmart-API/saic-home-assistant-addon',
  '1a32f091_sambanas': 'https://github.com/dianlight/hassio-addons/tree/master/sambanas',
  'db21ed7f_scrutiny_fa': 'https://github.com/alexbelgium/hassio-addons/tree/master/scrutiny_fa',
  '6b87c29e_speedtest_addon': 'https://github.com/MrSuicideParrot/hassio-speedtest-addon',
  'a0d7b954_vscode': 'https://github.com/hassio-addons/addon-vscode',
  'a0d7b954_tailscale': 'https://github.com/hassio-addons/addon-tailscale',
  'db21ed7f_tor': 'https://github.com/alexbelgium/hassio-addons/tree/master/tor',
  'b3f9bc48_traffmonetizer': 'https://github.com/bvlinsky/home-assistant-passive-income',
  'a0d7b954_bitwarden': 'https://github.com/hassio-addons/addon-bitwarden',
  '45df7312_zigbee2mqtt': 'https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/tree/master/zigbee2mqtt',
} %}

<ul>
{%- for addon in addons | sort(attribute='name') %}
  {% set repo_url = repo_urls[addon.slug] if addon.slug in repo_urls else 'https://github.com/search?q=' ~ addon.name | urlencode %}
  <li> {{ addon.name }} ({{ addon.version }}) – <a href="{{ repo_url }}">[Repo]</a> </li>
{%- endfor %}
</ul>

</details>


***

Generated by the [custom readme integration](https://github.com/custom-components/readme)